{% extends "global/base.html" %}
{% load i18n staticfiles %}
{% block content %}
<div class="container">
  <section id="resources">
    <div class="text-center">
      <h2 id="gallery">{% trans 'Gallery' %}</h2>
    </div>
    <div class="row">
      {% for album in albums %}
      <div class="col">
        <div class="card dpg-album-card">
          <div class="card-image">
            <img src="{{ album.thumb.url }}" alt="{{ album.title }}" class="dpg-album-card-image" />
          </div>
          <div class="card-content">
            <span class="card-title" style="color:black;">{{ album.title|title }}</span>
            <p style="color: black">{{ album.description|truncatechars:120 }}</p>
          </div>
          <div class="card-action">
            <a href="{% url 'gallery:album' album.slug %}#{{ album.title }}">More Images</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>

<div class="pagination center">
  <span class="step-links">
        {% if albums.has_previous %}
        <a href="?page={{ albums.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
        {% endif %}

        {% if albums.has_next %}
        <a href="?page={{ albums.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}