{% extends 'global/base.html' %}
{% load staticfiles static %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>
{% endblock %}

{% block content %}

    <section id="box-with-picture">
      <div class="black-canvas">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1>
                        NCR Indane Highest NDNE Seller of Rajasthan State Office
                    </h1>
                </div>
            </div>
        </div>
      </div>
    </section>

    <div class="container">
        <section id="about">
            <h2 class='text-center'>NCR INDANE</h2>
            <div class="row">
                <div class="col-md-6">
                    <p>
                      NCR Indane was started as a distributing company for LPG  products from 2002 in Bhiwadi, Rajasthan.
                    </p>
                    <p>
                      Liquefied Petroleum Gas ( LPG) is a mixture of propane and butane in varying percentages.
                      Propane and Butane are basically alkanes owing to which they do not react with each other
                      chemically to from a third compound but co exist together as a finely distributed mixture
                      with each having its own distinct properties.
                    </p>

                    <h2>VOT (Vapor off Take Systems)</h2>
                    <p>
                      In VOT System, Cylinders are connected to the Manifold system in series,
                      where LPG is withdrawn from the cylinder and is discharged to the system for usage.
                    </p>
                    <p>
                      VOT systems are mostly used in Hotels, Restaurants, Malls etc.
                    </p>

                    <h2>LOT (Liquid off Take Systems)</h2>
                    <p>
                      LPG LOT System is advance concept in Multi-cylinder Installation which offers Strength of Bulk LPG Installation
                      and easy functionality.
                    </p>
                </div>
                <div class="col-md-6">
                    <iframe width="585" height="329" src="https://www.youtube.com/embed/GfcY6HDfU6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>

            

    </div>

{% endblock %}
