{% extends 'global/base.html' %}
{% load bootstrap3 i18n staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Contact Us Success{% endblock %}

{% block content %}
    <div class="container">
        <section id="resources">
            <div>
                <h2 class="title">Thanks!</h2>
                <p>We appreciate your feedback.</p>
                <p>Someone from the team will be in touch with you shortly.</p>
            </div>
        </section>
    </div>
{% endblock %}