<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-2">
                <p>NCR INDANE</p>
                <ul class='footer-hover'>
                    <li><a href="{% url 'faq:faq_topic_list' %}#faq">FAQ</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="{% url 'gallery:gallery' %}#gallery">Gallery</a></li>
                    <li><a href="#">Awards</a></li>
                </ul>
            </div>

            <div class="col-md-2">
                <p>Contact</p>
                <ul>
                    <li><a href="{% url 'enquiry:enquiry-form' %}#enquiry">Enquiry</a></li>
                    <li><a href="{% url 'complaint:complaint-form' %}#complaint">Complaint</a></li>
                    <li><a href="{% url 'contact:contact' %}#contact">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-md-2">
                <p>Social</p>
                <ul>
                    <li><a href="http://facebook.com" target="_blank">Facebook</a></li>
                    <li><a href="http://twitter.com" target="_blank">Twitter</a></li>
                    <li><a href="http://github.com" target="_blank">Github</a></li>
                </ul>
            </div>

            <div class="col-md-2">
                <p>Website</p>
                <ul>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy & Cookies</a></li>
                </ul>
            </div>

            <div class="col-md-2">
                <p>Booking</p>
                <ul>
                    <li><a href="#">Instant Booking</a></li>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Cancel Booking</a></li>
                </ul>
            </div>

            <div class="col-md-2">
                <p>EMERGENCY</p>
                <ul>
                    <li><a href="#">Leakage</a></li>
                    <li><a href="#">Safety</a></li>
                    
                </ul>
            </div>

        </div>
    </div>
</footer>
