{% load static %}
<div class="panel p-t-20 m-t-20">
    <h2 class="contact-header">Contact Us</h2>
    <div class="dis-flex">
        <div class="p-r-25">
            <span><img src="{% static 'icons/address_marker.svg' %}" alt="NCR Indane" /></span>
		</div>
        <div class="flex-col">
			<Strong><span class="p-b-20 contact-header">Address</span></strong>
            <span class="contact-text">NCR Indane</span>
            <span class="contact-text-alternate">1 & 121, Ganpati Mall, Samtel Road</span>
            <span class="contact-text-alternate">Bhiwadi-301019 Distt-Alwar</span>
            <span class="contact-text-alternate">Rajasthan</span>
		</div>
	</div>
    <div class="dis-flex  p-t-20">
        <div class="p-r-25">
            <span><img src="{% static 'icons/phone_icon.svg' %}" alt="NCR Indane" /></span>
		</div>
        <div class="flex-col">
			<strong><span class="p-b-20 contact-header">Lets Talk</span></strong>
            <span class="contact-text">01493-220901, 220902</span>
            <span class="contact-text">097844-28600, 097844-28800</span>
		</div>
	</div>
    <div class="dis-flex  p-t-20">
        <div class="p-r-25">
            <span><img src="{% static 'icons/fax_icon.svg' %}" alt="NCR Indane" /></span>
		</div>
        <div class="flex-col">
			<strong><span class="p-b-20 contact-header">Send a Fax</span></strong>
            <span class="contact-text">01493-225500</span>
		</div>
	</div>
    <div class="dis-flex  p-t-20">
        <div class="p-r-25">
            <span><img src="{% static 'icons/email_icon.svg' %}" alt="NCR Indane" /></span>
		</div>
        <div class="flex-col">
			<strong><span class="p-b-20 contact-header">Email Us</span></strong>
            <span class="contact-text">ncrindane@yahoo.com</span>
		</div>
	</div>
</div>

